<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <!--ServiceLog-->
    <logger name="ServiceLog">
      <level value="DEBUG" />
      <appender-ref ref="ServiceLogAppender" />
    </logger>
    <appender name="ServiceLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\ServiceLogs\ServiceLog.log" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="30" />
      <param name="AppendToFile" value="true" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}:%m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>